.main{
    position: relative;
   
}
.top-section{
    background-color: rgb(54, 54, 49);
    overflow: hidden;
}

.top-section img{
    opacity: 0.9;
    width: 100%;
    height: 500px;
}
.bottom{
    position: absolute;
    top: 60%;
    left: 50%;
}

.bottom h2{
    line-height: 50px;
}