.nav-bg{
    background-color: rgb(250, 243, 235);
}

.bg-custom img{
   border-radius: 50px;
   height: 50px;
}

.dropdown-toggle::after{
    display: none!important;
}

.show{
    border: none!important;
}

@media only screen and (max-width: 600px) {
    button#dropdown-basic {
        margin-left: -15px;
    }
}